@charset "utf-8";
/* CSS Document */



/*
#under_projects{


	bottom: 25%;
}
*/


.active {
border:solid black 1px;


}
.user-card .header {
  background-image: url("https://cdn-images-1.medium.com/max/2000/1*19LWzzJJDPqGq67Vyd0EjQ.jpeg");
}


body {
	
	font-family: 'Archivo Narrow';

/*	font-family: "DM Sans";*/
/*	font-family: "Fjalla One";*/
/*	font-family: "Julius Sans One";*/
/*	font-family: "Lexend Giga";*/
	


/*	font-family:  'Carrois Gothic SC';*/

}

.bg-black {
	color: white;
	background-color: #000 !important;
}


.bg-primary{

	background-color: #EDFEF4 !important;
/*	ccfee2*/
	color: #000 !important;
}
.bg-secondary{
	color: white;
	background-color: black !important;
}


.jumbotron {
  padding: 2rem 0rem;
  margin-bottom: 0rem;

/*  border-radius: 0.
3rem;*/
}

nav a {
	color:black;
	
}

.btn-primary {
	color :black;
	
	background-color: white;
	border: solid black 3px;	

}

.btn-secondary {

	background-color: black;
	color: white;
	border: solid white 2px;
/*	font-size: 2vw;*/
}

.btn-primary:hover{
	
	background-color: black;
/*	border: solid white 3px;	*/

	
}

.btn:focus, .btn.focus  {
  outline: 0;
  box-shadow: 0 0 10px 10px blue;
}



.btn-secondary:hover{
	
	background-color: black;
/*	border: solid white 3px;	*/

	
}






.project-pic {
	border: solid #ccfee2 5px;
	height: 18vw;
	
	margin-bottom: 2vw;
	box-sizing: border-box;

}

.projects-page-picture {
	border: solid #666666 5px;
	height: 18vw;
	
	margin-bottom: 2vw;

}


#resume {

	height: 30vw;
	max-height: 400px;
}



.border-7{
	border: solid black 6px;
	
}






.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;  /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .11em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  
/*  font-size: 3vw;*/
}

/*
#canvas-container {
  position: relative;
}
#canvas-container canvas, #overlay {
  position: absolute;
}
canvas {
	width: 100%;
  	border: 1px solid black;
}
*/

#canvas-overlay-bottom {

	margin-top: 80vh;
}

#contact-button {

/*	margin-top: 90%;*/
}

#canvas-overlay-top, canvas-overlay-bottom, canvas {
	
	position: absolute;


}
canvas {

	
	width: 100%;
/*  	border: 1px solid black;*/
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/*STUFF RELATED TO RESUME.HTML*/

.resume {
	
	border-style: solid;
	border-width: 0px 5px 0px 5px;
}

.resume-top {
	border-style: solid;
	border-width: 5px 5px 0px 5px;
	

	}
	
.resume-bottom {
	border-style: solid;
	border-width: 0px 5px 5px 5px;
}

@media (max-width: 576px) {

	.resume-heading {
		background-color: white !important;
	
		border-style: solid;
		border-width: 0px 5px 0px 5px;
		
	
			
	}
	
	.github-card {
	
		data-width: 100%;
	
	
	

	}

	
	
	}
	
#Skills {

/*	max-height: 100vh;*/
}


[class^="devicon-"] {
	vertical-align: middle;

    font-size: 6vw;
    transition: all 1s ease-in-out;
	

/*	margin: 0 10px 0 10px;*/
}

[class^="devicon"]:hover {

  transform: scale(1.5);
}

.logo {
	transition: all 2s ease-in-out;
/*	vertical-align: top;*/
	min-height: 30px;
	height: 3vw;
/*	min-height: 75px;*/
/*	margin: 0 10px 0 10px;*/
}

#uoft_logo {
height: 5vw;
min-height: 100px;

}

#ministry_logo {
height: 5vw;
min-height: 100px;

}

#rcss_logo {
height: 2.5vw;
min-height: 50px;

}

#github-logo{
	height: 8vw;

}

.repo {
	width: 100%;
	
}




.carousel-inner,.carousel,.item,.container,.fill {
  height:50%;
  width:100%;
  background-position:center center;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	
	height: 50vw;
}




video {

/*	filter: brightness(70%);*/
	width: 100%;
	
	
}


.video-container {

	position: relative;
}
.video-caption {
    position: absolute;
    bottom: 50%;
	width: 100%;
    
	

	
}

.video-caption:hover {
    display: none;
    
	

	
}
			

